.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.inner {
    width: 32%;
    height: 100%;
    background: rgba(255, 255, 255, 0.25);
    padding: 32px 48px;
    outline: 1px solid rgba(255, 255, 255, 0.5);
}

.login {
}

.login-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}

.title {
    font-size: 30px;
    font-weight: 800;
    margin: 12px 0px;
}

.login-action {
}

.login-input {
}

.login-input-name,
.login-input-email,
.login-input-re-password,
.login-input-password {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 24px;

    input {
        width: 100%;
        height: 40px;
        font-size: 14px;
        border-radius: 8px;
        border: 2px solid rgba(0, 0, 0, 0.3);
        padding: 20px 12px;
        background: transparent;
        transition: 0.3 ease;
    }

    .label-line {
        position: absolute;
        pointer-events: none;
        font-size: 12px;
        font-weight: 600;
        margin-left: 12px;
        color: rgba(0, 0, 0, 0.5);
    }

    input:focus-within {
        border: 2px solid #25cafe;
    }

    input:focus {
        outline: #25cafe;
    }

    input:focus + .label-line {
        color: #25cafe;
        left: -6px;
        padding: 0px 6px;
        background-color: #ffffff;
        transition: 0.3s ease;
        transform: translateY(-110%) scale(0.7);
    }

    .input-valued {
        border: 2px solid #25cafe;
        outline: #25cafe;
    }

    .line-valued {
        color: #25cafe;
        left: -6px;
        padding: 0px 6px;
        transition: 0.3s ease;
        transform: translateY(-110%) scale(0.7);
        background-color: #ffff;
    }
}

.login-input-password {
    input:focus + .label-line {
        color: #25cafe;
        left: 0px;
        padding: 0px 6px;
        transition: 0.3s ease;
        transform: translateY(-110%) scale(0.7);
        background-color: #ffff;
        z-index: 4;
    }

    .line-valued {
        color: #25cafe;
        left: 0px;
        padding: 0px 6px;
        background-color: #ffffff;
        transition: 0.3s ease;
        transform: translateY(-110%) scale(0.7);
    }
}

.login-socials {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.login-checked {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    border: none;

    input {
        position: absolute;
        width: 16px;
        height: 16px;
        cursor: pointer;
        border: 2px solid #000;
        border-radius: 4px;
        -webkit-appearance: none;
        background-color: transparent;
    }

    input:checked {
        background-color: var(--color-red-bold);
        transition: 0.2s ease;
        color: #000;
    }

    input:before {
        content: '';
        position: absolute;
        right: 50%;
        top: 50%;
        width: 4px;
        height: 10px;
        border: solid rgba(255, 255, 255, 1);
        border-width: 0 2px 2px 0;
        margin: -1px -1px 0 -1px;
        transform: rotate(45deg) translate(-50%, -50%);
        z-index: 2;
    }
}

.facebooklogin {
    font-size: 0px;
    border: none;
    background-color: red;
}

.checked-desc {
    margin-left: 20px;
    font-size: 14px;
    font-weight: 600;
}

.login-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
}

.submit {
    width: 96px;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px 24px 27px 24px;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.05);

    &:hover {
        cursor: pointer;
        outline: 0.5px solid rgba(0, 0, 0, 1);
        background: var(--color-red-normal);
        transition: 0.2s ease-out;
    }
}

.submit-icon:hover {
    fill: white; /* Thay đổi fill thành white khi hover */
    fill-opacity: 1; /* Thay đổi fillOpacity thành 1 khi hover */
}

.submitted {
    cursor: pointer;
    outline: 0.5px solid rgba(0, 0, 0, 1);
    background: var(--color-red-normal);
    transition: 0.2s ease-out;
}

//custom css
.background-blue {
    background: #1877f2;
}

.margin-right {
    margin-right: 8px;
}
